.img-bar {
  float: left;
  margin-right: 20px;
}

.img-beer {
  float: left;
  margin-right: 20px;
}

.img-bar-get{
  padding-top: 15px;
}

.list {
  margin-bottom: 20px;
}

.beer_list {
  width: 30px;
  height: auto;
}

.row li {
  list-style: none;
}
