<h1>
  {{title}}
</h1>
<section class="sample-app-content" *ngIf="bar">
  <div class="row">
    <div class="col-md-2 img-bar-get">
      <img src="Images/bar.png">
    </div>
    <div class="col-md-10">
      <h2> {{bar.name}}</h2>
      <h3> {{ bar.description }}</h3>
      <span> {{bar.address + " " + bar.zipCode}}</span>
      <span> {{bar.city}}</span>
    </div>
  </div>
  <div class="row">
    <h3>Liste des bières</h3>
    <a routerLink="/beers/{{beer.beer.id}}"  *ngFor="let beer of bar.beerBar" class="beersofbar">
      <div>
        <img class="beer_list" src="Images/beer.png">
        {{beer.beer.brand}} - {{beer.price}} €
      </div>
    </a>
    <p>
      <a routerLink="/bars/{{bar.id}}/update">Modifier</a>
    </p>
  </div>
</section >

