<h2>
  {{title}}
</h2>
<sebm-google-map id="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  <sebm-google-map-info-window>
    <strong>InfoWindow content</strong>
  </sebm-google-map-info-window>
</sebm-google-map>
<input type="text" id="autocompleteInput">
<ul>
  <li>
  <a routerLink="/beers"  routerLinkActive="active">Liste des bières</a>
  </li>
  <li>
    <a routerLink="/bars"  routerLinkActive="active">Liste des bars</a>
  </li>
  <li>
    <a routerLink="/beers/add"  routerLinkActive="active">Ajouter une bière</a>
  </li>
  <li>
    <a routerLink="/bars/add"  routerLinkActive="active">Ajouter un bar</a>
  </li>
</ul>
