<h2>
  {{title}}
</h2>
<div class="form-group">
  <input id="autocompleteInput" placeholder="Rechercher un bar" autocorrect="off" autocapitalize="off"
         spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>
<!--<sebm-google-map [userLatitude]="userLatitude" [userLongitude]="userLongitude" [scrollwheel]="false" [zoom]="zoom">-->
<!--<sebm-google-map-marker [userLatitude]="userLatitude" [userLongitude]="userLongitude"></sebm-google-map-marker>-->
<!--</sebm-google-map>-->
<div id="map" style="height: 300px"></div>
<div class="row choose">
  <div class="col-md-5">
    <form>
      <label>Choisissez un bar</label>
      <select class="form-control" id="select-bars" [(ngModel)]="barList" name="bars"
              (ngModelChange)="changeBar($event)">
        <option *ngFor="let bar of bars" [value]="bar.id">{{bar.name}} - {{bar.address}} {{bar.zipCode}} {{bar.city}}
        </option>
      </select>
    </form>
  </div>
  <div class="col-md-2 or">
    OU
  </div>
  <div class="col-md-5">
    <form>
      <label>Choisissez une bière</label>
      <select class="form-control" id="select-beers" [(ngModel)]="beerList" name="beers"
              (ngModelChange)="changeBeer($event)">
        <option *ngFor="let beer of beers" [value]="beer.id">{{beer.brand}} - {{beer.type}} - {{beer.origin}}</option>
      </select>
    </form>
  </div>

</div>

<div class="row choose">
  <div class="col-md-6">
    <div class="page-header">
      <h3>Les derniers bars</h3>
    </div>
    <div class="list-group">
      <a routerLink="/bars/{{bar.id}}" *ngFor="let bar of barsNew" class="list-group-item bar-item">
        <div>
          <img src="Images/bar.png">
        </div>
        <div>
          <h4>{{bar.name}}</h4>
          <h5>{{bar.address}}</h5>
          <h6>{{bar.zipCode}} {{bar.city}}</h6>
        </div>
      </a>
    </div>
    <div>
      <h4>Ou accéder à la liste complète des bars <a routerLink="/bars">
        C'est ici !
      </a></h4>
    </div>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <h3>Les dernières bières</h3>
    </div>
    <div class="list-group">
      <a routerLink="/beers/{{beer.id}}" *ngFor="let beer of beersNew" class="list-group-item beer-item">
        <div>
          <img src="Images/beer.png">
        </div>
        <div>
          <h4>{{beer.brand}}</h4>
          <h5>Bière {{beer.type}}</h5>
          <h6>Origine {{beer.origin}}</h6>
        </div>
      </a>
    </div>
    <div>
      <h4>Ou accéder à la liste complète des bières <a routerLink="/beers">
        C'est là !
      </a></h4>
    </div>
  </div>
</div>

<div class="row contribute">
  <div class="col-md-12">
    <h2> Vous aimez l'application et vous souhaitez apporter votre <b><u>Bière</u></b> à l'édifice ? </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <a routerLink="/bars/add" class="btn btn-default btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
        Ajouter un nouveau Bar
      </a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="page-header">
      <a routerLink="/beers/add" class="btn btn-default btn-lg">
        <i class="glyphicon glyphicon-plus"></i>
        Ajouter une nouvelle Bière
      </a>
    </div>
  </div>


</div>

